= content_for :title, "Nuevo #{Team.model_name.human}"

= form_for @team, :html => {:id => 'team_form'} do |f|
  = render f
  
  %p
    = f.submit "Crear"
    &nbsp;|&nbsp;
    = link_to "Volver", teams_path
