= content_for :title, "Bienvenido"

%h3 Visita:

%ul
  %li= link_to "Nuestros #{Team.model_name.human.pluralize}", teams_path
  %li= link_to "Nuestras #{Match.model_name.human.pluralize}", matches_path
