= form.error_messages :header_message => nil, :message => nil

%table.bottom_spaced{:width => "100%"}
  %tr
    %td
      = form.label :team1_id
      %br/
      = form.collection_select :team1_id, @teams, :id, :name, :include_blank => true
    %td
      = form.label :team2_id
      %br/
      = form.collection_select :team2_id, @teams, :id, :name, :include_blank => true
  
  %tr
    %td
      = form.label :rounds_nbr
      %br/
      = form.select :rounds_nbr, (1..5).map {|i| [i,i]}
    %td
      = form.label :duration
      %br/
      = form.text_field :duration, :value => format_time(@match.duration), :size => 5
      
    %tr
      %td{:colspan => 2}
        = form.label :description
        %br/
        = form.text_area :description, :rows => 4, :cols => 35
      
= content_for :js do
  :javascript
    $(document).ready(function () {
      $('#match_team1_id').focus();
    });
