!!! 5
%html
  %head
    %title Robolucha
    = stylesheet_link_tag "application"
    = yield :styles
    = csrf_meta_tag
  %body
    #header
      #logo
        %span{:style => "float: right;"}= image_tag("logo.gif", :border => 0)
        %h1 <a href="#">Robolucha</a>
        %p cronómetro
    / end #header
    = render "shared/menu"
    #page
      #page-bgtop
        #page-bgbtm
          #content
            .post
              %h2.title <a href="#">#{yield :title}</a>
              - unless flash.empty?
                %p.meta= flash.values.join("<br/>")
              .entry
                = yield
          / end #content
          %div{:style => "clear: both;"} &nbsp;
    / end #page
    #footer
      %p Copyright (c) #{Date.today.year} UNLAM. Todos los derechos reservados. Diseño por <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.
    / end #footer
    
    = javascript_include_tag :defaults
    = yield :js